{% extends "reminders/base_two.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Completed Msgs</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for msg in msgs %}
                    <a href="{% url 'viewmsgs' msg.id %}" class="list-group-item list-group-item-action{% if msg.important %} list-group-item-danger{% endif %}"><b>{{ msg.title }}</b> - Completed {{ msg.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
